*{
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}

.wrapper {
  background-image: linear-gradient(rgb(7, 92, 252), (rgb(19, 245, 253)));
  padding: 50px 0;
  height: 84vh;
}

.container {
  max-width: 500px;
  min-height: 200px;
  background-color: #f5f5f5;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
}

.header {
  &__title { 
    text-align: center;
    padding: 25px 0;
  }
  &__input {
    width: 80%;
    height: 36px;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
  }
  &__btn {
    width: calc(20% - 30px);
    height: 40px;
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    &:hover {
      opacity: 0.8;
    }
  }
}

.todoList {
  list-style: none;
  &__item {
    background-color: #ddd;
    border-radius: 5px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    &--content {
      display: flex;
      align-items: center;
      width: 95%;
      padding: 10px;
      cursor: pointer;
      font-family: sans-serif;
    }
    &--delete {
      padding: 10px;
      width: 5%;
      height: 100%;
      text-align: center;
      cursor: pointer;
      font-weight: bold;
    }
    &:hover {
      background-color: #e2e2e2;
    }
  }
}